# ignore all logs
*.log

# ignore all Matlab autosaved files
*.asv

# ignore the geometry files (might need to change if we want to push a model to origin)
*.vtp

# ignore everything inside the following folders
Personal_Results/*
OpenSim Models/*
ExperimentalData/*
